<title>
  <%= title %>
</title>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/post-container.css">

<div id="home-container" class="d-flex justify-content-between">
  <section id="feed-posts">
    <% if(locals.user) { %>
      <div class="card" style="margin-bottom: 0px; box-shadow: 0 4px 7px rgb(0,0,0,40%);">
        <form action="/posts/create" method="POST" id="new-post-form">
          <div class="d-flex align-items-center justify-content-between">
            <img src="<%= user.avatar %>" width="50" height="50" style="border-radius: 50%;" alt="">
            <textarea name="content" id="" cols="30" rows="3" placeholder="What's on your mind?" required></textarea>
          </div>
          <div>
            <input type="file" placeholder="Image" name="image">
            <input type="submit" value="Post" class="btn-primary rounded" />
          </div>
        </form>
      </div>

      <div class="posts-list-container">
        <% for(post of posts) { %>

          <%- include('_post.ejs') -%>

            <% } %>
      </div>
      <% } %>
  </section>

  <section id="user-friends">
    <h4>Friends</h4>
    <% for(u of all_users) { %>
      <p>
        <a href="/users/profile/<%= u.id %>">
          <%= u.name %>
        </a>
      </p>
      <% } %>
  </section>
</div>

<script src="/js/home_posts.js"></script>